@charset "UTF-8";

* {
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    text-align: center;
}

.main {
    background-color: #ffffff;
    margin: 30px auto;
    max-width: 500px;
    width: 90%;
    height: 540px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block;
    margin: 10px auto;
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    padding: 4px;
    border: 5px solid white;
}

.link-botao {
    text-align: center;
    background-color: #007BFF;
    color: white;
    padding: 12px;
    margin: 10px auto;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 80%;
    transition: background-color 0.3s ease;
}

.gh {
    background-color: #101011;
    border: none;
}

.gh:hover {
    background-color: #f4f4f4;
    color: black;
    border: 1px solid black;
}

.lkd {
    background-color: rgb(71, 71, 248);
}

.lkd:hover {
    background-color: #f4f4f4;
    color: rgb(71, 71, 248);
    border: 1px solid rgb(71, 71, 248);
}

.instagram {
    background-color: #E1306C;
}

.instagram:hover {
    background-color: #f4f4f4;
    color: #bc1888;
    border: 1px solid #bc1888;
}

.portfolio {
    background-color: #28a745;
}

.portfolio:hover {
    background-color: #f4f4f4;
    color: #28a745;
    border: 1px solid #28a745;
}

span {
    border-radius: 5px;
}

@media (max-width: 768px) {

    .main {
        background-color: #ffffff;
        margin: 100px auto;
        width: 90%;
       /* height: 100%;*/
        padding: 10px;
        border-radius: 15px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
}