@charset "UTF-8";

* {
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  text-align: center;
}

.main {
  background-color: #ffffff;
  margin: 30px auto;
  max-width: 500px;
  width: 90%;
  height: 540px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  display: block;
  margin: 10px auto;
  background: linear-gradient(45deg,
      #f09433,
      #e6683c,
      #dc2743,
      #cc2366,
      #bc1888);
  padding: 4px;
  border: 5px solid white;
}

.link-botao {
  text-align: center;
  background-color: #007bff;
  color: white;
  padding: 12px;
  margin: 10px auto;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 80%;
  transition: background-color 0.3s ease;
}

.gh {
  background-color: #101011;
  border: none;
}


.lkd {
  background-color: rgb(71, 71, 248);
}

.lkd .instagram {
  background-color: #e1306c;
}


.portfolio {
  background-color: #28a745;
}


.tech span {
  border: 1px solid transparent;
  border-radius: 6px;
  font-size: 20px;
}

span a {
  color: white;
}

.html {
  background-color: #ffa500;
}

.css {
  color: #ffffff;
  background-color: #007bff;
}


.js {
  color: #ffffff;
  background-color: #c2c200;
}

.nodejs {
  color: #ffffff;
  background-color: #008000;
}


.java {
  color: #ffffff;
  background-color: #ff0000;
}


@media (hover:hover) and (pointer:fine) {

  .gh:hover {
    background-color: #f4f4f4;
    color: black;
    border: 1px solid black;
  }

  :hover {
    background-color: #f4f4f4;
    color: rgb(71, 71, 248);
    border: 1px solid rgb(71, 71, 248);
  }

  .instagram:hover {
    background-color: #f4f4f4;
    color: #bc1888;
    border: 1px solid #bc1888;
  }

  .portfolio:hover {
    background-color: #f4f4f4;
    color: #28a745;
    border: 1px solid #28a745;
  }


  .html a:hover {
    border-radius: 6px;
    border: 1px solid #ffa500;
    color: #ffa500;
    background-color: white;
  }


  .css a:hover {
    border-radius: 6px;
    border: 1px solid #007bff;
    color: #007bff;
    background-color: white;
  }


  .js a:hover {
    border-radius: 6px;
    border: 1px solid #c2c200;
    color: #c2c200;
    background-color: white;
  }


  .nodejs a:hover {
    border-radius: 6px;
    border: 1px solid #008000;
    color: #008000;
    background-color: white;
  }


  .java a:hover {
    border-radius: 6px;
    border: 1px solid #ff0000;
    color: #ff0000;
    background-color: white;
  }

}

@media (max-width: 768px) {
  .main {
    background-color: #ffffff;
    margin: 100px auto;
    width: 90%;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
}